@model Equipment

<div class="col-md-5 bordered-div">
    <h4>
        @Model.Name
        <a asp-action="Edit" asp-controller="Equipment" asp-route-id="@Model.Name">&#9998;</a>
    </h4>
    <hr/>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Attack" class="control-label col-md-8"></label>
            <div class="col-sm-3">
                <p class="form-control-static">@Model.Attack</p>
            </div>
            <label asp-for="Defense" class="control-label col-md-8"></label>
            <div class="col-sm-3">
                <p class="form-control-static">@Model.Defense</p>
            </div>
        </div>
    </div>
</div>
