@{
    ViewData["Title"] = "Edit equipment";
}
@model Equipment
@section header{
    <meta name="description" content="Edit an equipment item in ForgingAhead." />
}
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Update" asp-controller="Equipment">
    @*Html.EditorForModel()*@
    @Html.Partial("_EquipmentEditForm", Model)
    <hr />
    <input type="submit" value="Update" class="btn btn-default" />
</form>