@{
    ViewData["Title"] = "Equipment";
}
@model List<Equipment>
@section header{
    <meta name="description" content="Lists all equipment in ForgingAhead." />
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" asp-controller="Equipment">Create new equipment</a>
</p>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Details" asp-controller="Equipment" asp-route-name="@item.Name">
                @item.Name
            </a>
            <a asp-action="Edit" asp-controller="Equipment" asp-route-name="@item.Name">
                &#9998;
            </a>
        </li>
    }
</ul>
<hr />
<a asp-action="DeleteAll" asp-controller="Equipment">Delete all equipment</a>