@model Character

<div class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2" asp-for="Name"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Name" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="IsActive"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="IsActive" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Level"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Level" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Strength"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Strength" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Dexterity"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Dexterity" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Intelligence"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Intelligence" />
            </div>
        </div>
    </div>
</div>