@model CharacterEditViewModel

<div class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2" asp-for="Character.Name"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Character.Name" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Character.IsActive"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Character.IsActive" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Character.Level"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Character.Level" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Character.Strength"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Character.Strength" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Character.Dexterity"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Character.Dexterity" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2" asp-for="Character.Intelligence"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="Character.Intelligence" />
            </div>
        </div>
    </div>
</div>
<div asp-validation-summary="All"></div>