@{
    ViewData["Title"] = "Create character";
}
@model CharacterEditViewModel
@section header{
    <meta name="description" content="Create a character in ForgingAhead." />
}
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Create" asp-controller="Character">
    @Html.Partial("_CharacterEditForm", Model)
    <hr />
    @Html.Partial("_EquipmentSelection", Model)
    <hr />
    <input type="submit" value="Create" class="btn btn-default" />
</form>