@{
    ViewData["Title"] = "Create character";
}
@model Character
@section header{
    <meta name="description" content="Create a character in ForgingAhead." />
}
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Create" asp-controller="Character">
    @Html.Partial("_CharacterEditForm", Model)
</form>