@{
    ViewData["Title"] = "Edit character";
}
@model Character
@section header{
    <meta name="description" content="Edit a character in ForgingAhead." />
}
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Update" asp-controller="Character">
    @*Html.EditorForModel()*@
    @Html.Partial("_CharacterEditForm", Model)
    <hr />
    <input type="submit" value="Update" class="btn btn-default" />
</form>