@{
    ViewData["Title"] = "Characters";
}
@model List<Character>
@section header{ 
    <meta name="description" content="Lists all characters in ForgingAhead." />
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" asp-controller="Character">Create new character</a>
</p>
<ul>
    @foreach(var item in Model)
    {
        <li>
            <a asp-action="Details" asp-controller="Character" asp-route-id="@item.Name">
                @item.Name
            </a>
            <a asp-action="Edit" asp-controller="Character" asp-route-id="@item.Name">
                &#9998;
            </a>
        </li>
    }
</ul>
<hr />
<a asp-action="DeleteAllCharacters" asp-controller="Character">Delete all characters</a>