@{
    ViewData["Title"] = "Home Page";
}

@model List<Character>
<h2>Characters:</h2>

<form asp-controller="Home">
    <div>
        <input name="CharacterName" />
        <input asp-action="Create" type="submit" value="Add Character" />
        <input asp-action="Remove" type="submit" value="Remove Character" />
    </div>
</form>

<div>
    @foreach (var item in @Model)
    {
    <ul>
        <li>@item.Name</li>
    </ul>
    }
</div>